<%= content_for :primary_content do %>
  <div class="lg:p-10 pt-10 pb-10 px-4">
    <h1 class="text-xl font-normal mb-6">Create a resource</h1>

    <%= render "shared/form", resource: @resource %>
  </div>
<% end %>

<% content_for :secondary_content do %>
<% end %>

<%= render "shared/basic_layout" %>