.dropdown {
  position: relative;
  min-width: 220px;
  z-index: 2;

  .dropdown-list {
    background: white;
    min-width: 220px;
    top: 34px;
    left: -1px;
    z-index: 1;

    a:hover {
      svg { fill: white; }
    }
  }
}